h1 {
	color: #333;
}

.todo-app{
	margin-top:20px;
	max-width: 500px;
}

.todo-app-body{
	max-height : 300px;
	overflow-y: hidden;
}

.todo-app-body:hover{
	max-height : 300px;
	overflow-y: auto;
}

.list-group-item .checkbox {
	margin: 0;
	margin-left: 20px;
}

.checkbox .form-control-feedback{
	height :17px;
	line-height: 17px;
	cursor: pointer;
	pointer-events: auto;
}
 
.form-control.has-error{
	border-color: #a94442;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}