h1 {
	color: #333;
}

.todo-app{
	margin-top:20px;
	max-width: 500px;
}

.todo-app-body{
	max-height : 300px;
	overflow-y: hidden;
}

.todo-app-body:hover{
	max-height : 300px;
	overflow-y: auto;
}

.list-group-item .checkbox {
	margin: 0;
	margin-left: 20px;
}